p {
    text-align: center;
    width: 110px;
    padding: 4px;
    border-radius: 15px;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2021/01/11/19/02/plain-background-5909329_1280.jpg")
}
.liv1 {
    background-color: greenyellow;
}
.liv2 {
    background-color: greenyellow;
}
.liv3 {
    background-color: greenyellow;
}
.liv4 {
    background-color: greenyellow;
}
.liv5 {
    background-color: greenyellow;
}

.container {
    background-color: #05e5e5;
    font-family: Arial;
    margin: 6px;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    border-style: solid;
    border-color: black;
}
.containerPink {
    background-color: lightpink;
    font-family: Arial;
    margin: 6px;
    padding: 5px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}
#losninger {
    display: flex;
}
#sortertListe {
    width: 100%;
}
h1{
    padding: 5px;
}
label {
    text-align: center;
    padding: 4px;
}
.gjetting {
    height: 20px;
    width: 12px;
    text-align: center;
}
button {
    margin: 5px;
}